@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
.main-container{
  max-width: 90.625rem;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  
}
@media (prefers-color-scheme: dark) {
  :root {
    --maroon: #a20d31;
    --foreground: #ededed;
    --dropdown-bg:#a4a09d;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.home-bg{
  background-image: url("https://images.squarespace-cdn.com/content/v1/677acead59bfdf1eac35b1fe/1a7447ba-1773-4e39-ab58-64dc4b62b550/IMG20230407201258.jpg?format=2500w");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.shape-bg{
  background-image: url("/assets/svg/shape.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.sports-bg {
  background-repeat: no-repeat;
  background-image: url("https://images.squarespace-cdn.com/content/v1/677acead59bfdf1eac35b1fe/1737905863681-QLJ1CWY6CDC7RORF5L1T/unsplash-image-gywHscPZwMM.jpg?format=2500w");
  background-size: cover;
  background-position: 50% 72%;
  position: relative;
}
.newsLetter-bg {
  background-image: url("https://images.squarespace-cdn.com/content/v1/5ec321c2af33de48734cc929/1589847885952-PYSL0PZB2JIMU9JZ9P99/20140301_Trade-151_0124-copy.jpg?format=2500w");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.sports-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.banner-content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}

.green-bg{
  background-image: url("https://images.squarespace-cdn.com/content/v1/677acead59bfdf1eac35b1fe/1737799324410-IALX8VDWV78UBNRIEXS5/unsplash-image-NQ6Lh81BTRs.jpg?format=2500w");
  background-size: 100% 100% ;
  background-repeat: no-repeat;
}
.scroll-container {
  width: 100%;
  overflow: hidden; 
  padding: 10px 0;
  position: relative;
}

.scroll-text {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-left 30s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
